
html, body {
  margin: 0px;
  background-color: #0a6b3e;
  color: white;
}


.title {
  text-align: center;
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 25px;
}

.cards {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -65px;
}

#pc-cards, #user-cards {
  height: 250px;
}